<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .btn-group {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
        }
    </style>

    <script>
        function myFunction1() {
            var x = document.getElementById("form1");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction2() {
            var x = document.getElementById("form2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("form3");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction4() {
            var x = document.getElementById("form4");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction5() {
            var x = document.getElementById("form5");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>

<body>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="Test"><button type=" button " class="btn btn-primary ">Remove Employee</button></a>
        <button onclick="myFunction2() " type="button " class="btn btn-primary ">Add employee</button>
        <button onclick="myFunction3() " type="button " class="btn btn-primary ">Remove customer</button>
        <button onclick="myFunction4() " type="button " class="btn btn-primary ">Add branch</button>
        <button onclick="myFunction5() " type="button " class="btn btn-primary ">Remove branch</button>
    </div>


    <div style="display:none; " class="alert alert-success ">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

    <div style="display:none; " class="alert alert-danger ">
        <strong>Danger!</strong>
    </div>


    <div id="form2 " style="display:none; ">
        <form action="/change_customer_plan " method="POST ">

            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Frist name</label>
                <input type="text " name="Fname " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Last name</label>
                <input type="text " name="Lname " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Department number</label>
                <input type="number " name="Dnum " class="form-control " id="exampleInputPassword1 ">

            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Address</label>
                <input type="text " name="Address " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">SSN</label>
                <input type="number " name="SSN " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Position</label>
                <input type="text " name="Position " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Salary</label>
                <input type="number " name="Salary " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">branch number</label>
                <input type="number " name="Bnum " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Hours</label>
                <input type="number " name="hours " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Gender</label>
                <input type="text " name="Gender " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Phone number</label>
                <input type="number " name="Phone_number " class="form-control " id="exampleInputPassword1 ">
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label ">Super SSN</label>
                <input type="number " name="Super_ssn " class="form-control " id="exampleInputPassword1 ">
            </div>

            <button type="submit " class="btn btn-primary ">Add new employee</button>
        </form>
    </div>



    <!-- for adding new offer -->
    <div id="form3 " style="display:none; ">
        <form action="/Remove_customer " method="POST ">
            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Phone number</label>
                <input type="number " name="Phone_num " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>
            <button type="submit " class="btn btn-primary ">Remove customer</button>
        </form>
    </div>



    <div id="form4 " style="display:none; ">
        <form action="/Add_branch " method="POST ">
            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Phone number</label>
                <input type="number " name="phone_num " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>
            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Branch number</label>
                <input type="number " name="bnum " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>
            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Location</label>
                <input type="ntext " name="location " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>
            <button type="submit " class="btn btn-primary ">Add branch</button>
        </form>
    </div>


    <div id="form5 " style="display:none; ">
        <form action="/Remove_branch " method="POST ">
            <div class="mb-3 ">
                <label for="exampleInputEmail1 " class="form-label ">Branch number</label>
                <input type="number " name="bnum " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
            </div>
            <button type="submit " class="btn btn-primary ">Remove branch</button>
        </form>
    </div>

</body>

</html>
</body>

</html>