<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <title>WGSA</title>
    <link rel="icon" href="/images/logo.svg">

</head>

<body>
    <header>
        <section class="nav-container">
            <nav>
                <div class="logo">
                    <span class="lgci"> </span>
                    <a href="/">
                        <h2>WSGA</h2>
                    </a>
                </div>
                <ul>
                    <li><a href="plans"> Plans</a></li>
                    <li><a href="Offers">Offers</a></li>
                    <li><a href="FAQS">FAQS</a></li>
                    <li><a href="Login"> <Button class="log-btn">log out</Button> </a></li>
                </ul>
            </nav>
        </section>
        <hr class="Line" />
    </header>


    <main class="CS">

        <div class="siden">
            <div class="listContainer">
                <ul>
                    <div class="listElement">
                        <li><a href="#RemoveEmployee">Remove Employee</a></li>
                    </div>
                    <div class="listElement">
                        <li><a href="#AddEmployee">Add employee</a></li>
                    </div>
                    <div class="listElement">
                        <li><a href="#RemoveCustomer">Remove customer</a></li>
                    </div>
                    <div class="listElement">
                        <li><a href="#AddBranch">Add branch</a></li>
                    </div>
                    <div class="listElement">
                        <li><a href="#RemoveBranch">Remove branch</a></li>
                    </div>
                </ul>
            </div>
            <% if (errmessage) { %>
                <div class="alertErr">
                    <%= errmessage %>
                </div>
                <% } %>
                    <% if (successMes) { %>
                        <div class="alertSuccess">
                            <%= successMes %>
                        </div>
                        <% } %>
        </div>


        <div class="CSBody">

            <h3 style="margin: 2em;">Remove Employee</h3>
            <div class="FormContainer" id="RemoveEmployee">
                <form action="/Remove_employee" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">SSN</label>
                        <input type="number" name="SSN" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <button type="submit" class="btn btn-primary">Remove employee</button>
                    </div>
                </form>
            </div>


            <br />
            <hr class="Line" /><br />
            <h3 style="margin: 2em;">Add New Employee</h3>
            <div class="FormContainer" id="AddEmployee">
                <form action="/Add_employee" method="POST">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">First name</label>
                        <input type="text" name="Fname" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Last name</label>
                        <input type="text" name="Lname" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Department number</label>
                        <input type="number" name="Dnum" class="form-control" id="exampleInputPassword1">

                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Address</label>
                        <input type="text" name="Address" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">SSN</label>
                        <input type="number" name="SSN" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Position</label>
                        <input type="text" name="Position" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Salary</label>
                        <input type="number" name="Salary" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">branch number</label>
                        <input type="number" name="Bnum" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Hours</label>
                        <input type="number" name="hours" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Gender</label>
                        <input type="text" name="Gender" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Phone number</label>
                        <input type="number" name="Phone_number" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputPassword1" class="form-label">Super SSN</label>
                        <input type="number" name="Super_ssn" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary">Add new employee</button>
                    </form>
            </div>

            <br />
            <hr class="Line" /><br />


            <h3 style="margin: 2em;">Remove Customer</h3>
            <div class="FormContainer" id="RemoveCustomer">
                <form action="/Remove_customer" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone number</label>
                        <input type="number" name="Phone_num" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary"  >Remove customer</button>
                </form>
            </div>

            <br />
            <hr class="Line" /><br />

            <h3 style="margin: 2em;">Add Branch</h3>
            <div class="FormContainer" id="AddBranch">
                <form action="/Add_branch" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone number</label>
                        <input type="number" name="phone_num" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Branch number</label>
                        <input type="number" name="bnum" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Location</label>
                        <input type="ntext" name="location" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Add branch</button>
                </form>
            </div>

            <br />
            <hr class="Line" /><br />
            <h3 style="margin: 2em;">Remove Branch</h3>
            <div class="FormContainer" id="RemoveBranch">
                <form action="/Add_branch" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone number</label>
                        <input type="number" name="phone_num" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Branch number</label>
                        <input type="number" name="bnum" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Location</label>
                        <input type="ntext" name="location" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Add branch</button>
                </form>
            </div>

        </div>

    </main>

</body>

</html>