<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style.css">
    <title>WGSA</title>
</head>

<body>
    <header>
        <section class="nav-container">
            <nav>
                <div class="logo">
                    <span class="lgci"> </span>
                    <a href="/">
                        <h2>WSGA</h2>
                    </a>
                </div>
                <ul>
                    <li><a href="plans"> Plans</a></li>
                    <li><a href="Offers">Offers</a></li>
                    <li><a href="FAQS">FAQS</a></li>
                    <li><a href="Login"> <Button class="log-btn">Log in</Button> </a></li>
                </ul>
            </nav>
            <hr class="Line" />
        </section>
    </header>

    <main class="Reg">
        <div class="FormContainer">
            <section class="inputs">
                <form>

                    <div class="input">
                        <input placeholder="Email" type="text">
                        <img src="../images/mail.svg">
                    </div>

                    <div class="input">
                        <input placeholder="Password" type="password">
                        <img src="../images/pass.svg">
                    </div>


                    <div class="input">
                        <a href="Login"> <Button class="reg-btn">
                                Log in
                            </Button> </a>
                    </div>
                </form>
            </section>
        </div>
    </main>

</body>

</html>