<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/Style.css">
    <title>WGSA</title>
    <link rel="icon" href="/images/logo.svg">

</head>

<body>
    <main>
        <header>
            <section class="nav-container">
                <nav>
                    <div class="logo">
                        <span class="lgci"> </span>
                        <a href="/">
                            <h2>WSGA</h2>
                        </a>
                    </div>
                    <ul>
                        <li><a href="plans"> Plans</a></li>
                        <li><a href="Offers">Offers</a></li>
                        <li><a href="FAQS">FAQS</a></li>
                        <li><a href="Login"> <Button class="log-btn">Log in</Button> </a></li>
                    </ul>
                </nav>
            </section>
            <hr class="Line" />
        </header>

        <section class="plans">
            
            <h2>WSGA Mobile Packages</h2>
            <div class="cards">
                <% for(var row of result) { %>
                
                <div class="card">
                    <div class="card-body">
                        
                        <h2 class="card-title"><%=row.Plan_name%></h2>
                        <p class="card-text">
                            <table>
                                <tr> <th> MegaBytes</th>    <td> <%=row.Megas%>   <p>  MegaBytes</p></td>   </tr>
                                <tr> <th> Minutes</th>      <td> <%=row.Minutes%>   <p>  Minutes</p></td>   </tr>
                                <tr style="border-bottom: none;;"> <th> Price</th>        <td> <%=row.Price%>     <p>  EGP</p></td>   </tr>
                            </table>
                            
                        </p>
                        <a href="#" class="btn btn-primary">Migrate</a>
                    </div>
                </div>
                <%}%>

        </section>
    </main>

</body>

</html>

