<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style.css">
    <title>WGSA</title>
</head>

<body>
        <header>
            <section class="nav-container">
                <nav>
                    <div class="logo">
                        <span class="lgci"> </span>
                        <a href="/">
                            <h2>WSGA</h2>
                        </a>
                    </div>
                    <ul>
                        <li><a href="plans"> Plans</a></li>
                        <li><a href="Offers">Offers</a></li>
                        <li><a href="FAQS">FAQS</a></li>
                        <li><a href="Login"> <Button class="log-btn">Log in</Button> </a></li>
                                
                    </ul>
                </nav>


                <hr class="Line" />
            </section>
        </header>


         <ul>

   <% for(var row of result) { %>
            <li><%=row.Plan_code %>  ,   <%=row.price%></li>
            <%}%>

   </ul>


        <!-- <script>
document.addEventListener('DOMContentLoaded', function() {
    // Send a GET request to the URL
    fetch('/qqwwee')
    // Put response into json form
    .then(response => response.json())
    .then(data => {
        // Log data to the console
        console.log(data);
    });
});

        </script> -->


        <!-- <!DOCTYPE html>
        <html>
        <head>
            <title>Convert JSON Data to HTML Table</title>
            <style>
                th, td, p, input, h3 {
                    font:15px 'Segoe UI';
                }
                table, th, td {
                   border: solid 1px #dfd;
                    border-collapse: collapse;
                    padding: 2px 3px;
                    text-align: center;
                }
                th {
                    font-weight:bold;
                    font-color:red;
                }
            </style>
        </head>
        <body>
            <h3>
                Click the button to create a dynamic table using data extracted from a JSON array.
            </h3>
            <input type='button' onclick='tableFromJson(resultt)' 
                value='Create Table from JSON data' />
                
            <p id='showData'></p>
            
            <p id='msg'></p>
        </body>
        
        <script>
            // scroll down for ES6 features. 
        
            // using regular methods.
        
            function tableFromJson(resultt) {
                // the json data. (you can change the values for output.)
                var myBooks =  resultt ;
        
                // Extract value from table header. 
                // ('Book ID', 'Book Name', 'Category' and 'Price')
                var col = [];
                for (var i = 0; i < myBooks.length; i++) {
                    for (var key in myBooks[i]) {
                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }
        
                // Create a table.
                var table = document.createElement("table");
        
                // Create table header row using the extracted headers above.
                var tr = table.insertRow(-1);                   // table row.
        
                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");      // table header.
                    th.innerHTML = col[i];
                    tr.appendChild(th);
                }
        
                // add json data to the table as rows.
                for (var i = 0; i < myBooks.length; i++) {
        
                    tr = table.insertRow(-1);
        
                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = myBooks[i][col[j]];
                    }
                }
        
                // Now, add the newly created table with json data, to a container.
                var divShowData = document.getElementById('showData');
                divShowData.innerHTML = "";
                divShowData.appendChild(table);
                
                document.getElementById('msg').innerHTML = '<br />You can later <a href="https://www.encodedna.com/javascript/dynamically-add-remove-rows-to-html-table-using-javascript-and-save-data.htm" target="_blank" style="color:#1464f4;text-decoration:none;">get all the data from table and save it in a database.</a>';
            }
            
            
            // using ES6 features.
            
        //     let tableFromJson = () => {
        //     	// the json data.
        //         const myBooks = [
        //             {'Book ID': '1', 'Book Name': 'Challenging Times',
        //                 'Category': 'Business', 'Price': '125.60'
        //             },
        //             {'Book ID': '2', 'Book Name': 'Learn JavaScript',
        //                 'Category': 'Programming', 'Price': '56.00'
        //             },
        //             {'Book ID': '3', 'Book Name': 'Popular Science',
        //                 'Category': 'Science', 'Price': '210.40'
        //             }
        //         ]
                
        //         // Extract value from table header. 
        //         // ('Book ID', 'Book Name', 'Category' and 'Price')
        //         let col = [];
        //         for (let i = 0; i < myBooks.length; i++) {
        //             for (let key in myBooks[i]) {
        //                 if (col.indexOf(key) === -1) {
        //                     col.push(key);
        //                 }
        //             }
        //         }
                
        //         // Create a table.
        //         const table = document.createElement("table");
        
        //         // Create table header row using the extracted headers above.
        //         let tr = table.insertRow(-1);                   // table row.
        
        //         for (let i = 0; i < col.length; i++) {
        //             let th = document.createElement("th");      // table header.
        //             th.innerHTML = col[i];
        //             tr.appendChild(th);
        //         }
        
        //         // add json data to the table as rows.
        //         for (let i = 0; i < myBooks.length; i++) {
        
        //             tr = table.insertRow(-1);
        
        //             for (let j = 0; j < col.length; j++) {
        //                 let tabCell = tr.insertCell(-1);
        //                 tabCell.innerHTML = myBooks[i][col[j]];
        //             }
        //         }
        
        //         // Now, add the newly created table with json data, to a container.
        //         const divShowData = document.getElementById('showData');
        //         divShowData.innerHTML = "";
        //         divShowData.appendChild(table);
        //     }
        </script>
        </html> -->







</body>

</html>