<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style.css">
    <title>WGSA</title>
</head>

<body>
        <header>
            <section class="nav-container">
                <nav>
                    <div class="logo">
                        <span class="lgci"> </span>
                        <a href="/">
                            <h2>WSGA</h2>
                        </a>
                    </div>
                    <ul>
                        <li><a href="plans"> Plans</a></li>
                        <li><a href="Offers">Offers</a></li>
                        <li><a href="FAQS">FAQS</a></li>
                        <li><a href="Login"> <Button class="log-btn">Log in</Button> </a></li>
                    </ul>
                </nav>
                <hr class="Line" />
            </section>
        </header>

</body>

</html>